<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.goleep.driverapp">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".leep.main.LeepApp"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:allowBackup">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name=".leep.onboarding.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".leep.onboarding.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/LoginTheme" />
        <activity
            android:name=".leep.main.HomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HomeScreenTheme" />
        <activity
            android:name=".leep.onboarding.ForgotPasswordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/LoginTheme" />
        <activity
            android:name=".leep.pickup.pickup.PickupActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".leep.pickup.pickup.PickupConfirmationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".leep.dropoff.deliveryorders.DropOffDeliveryOrdersActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".leep.dropoff.deliveryorders.DropOffDeliveryOrderDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".leep.dropoff.deliveryorders.DropOffPaymentCollectActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".leep.dropoff.deliveryorders.DropOffCollectPaymentMethodActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".leep.dropoff.deliveryorders.DropOffPaymentConfirmationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".leep.dropoff.cashsales.CashSalesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".leep.info.ReportsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".leep.info.StocksActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".leep.info.HistoryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".leep.info.HistoryDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".leep.pickup.pickup.PickupWarehouseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".leep.dropoff.cashsales.NewCustomerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".leep.dropoff.cashsales.CashSalesSelectProductsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".leep.dropoff.cashsales.CashSalesConfirmationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".leep.dropoff.cashsales.CashSalesInvoiceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".leep.dropoff.cashsales.CashSalesPaymentMethodActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".leep.dropoff.cashsales.CashSalesFinalConfirmationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".leep.dropoff.dropoff.DropoffWarehouseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".leep.dropoff.dropoff.DropoffActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".leep.dropoff.dropoff.DropoffToWarehouseConfirmationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".leep.pickup.returns.ReturnsSelectReasonActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".leep.pickup.returns.ReturnConfirmActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".leep.pickup.returns.ReturnsCustomerSelectActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>